/*-------- GENERAL STYLES ---------*/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  color: #4A4A4A
}

* {
  box-sizing: border-box;
}

/*-------- TYPOGRAPHY ---------*/

h1 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

a {
  font-weight: 600;
  color: black;
}

a.button {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 12px 24px;
  display: inline-block;
  margin-top: 16px;
  text-align: center;
}

/*-------- COLOURS ---------*/
/* light grey: #F3F3F3;
pale grey: #D8D8D8
medium grey: #9B9B9B;
dark grey: #4A4A4A;
black: #000000; */

/*-------- HEADER ---------*/
header {
  background-color: #4A4A4A;
  color: #ffffff;
  padding: 16px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .toggle {
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  flex-direction: column;
  display: none;
}

header ul.show-items {
  display: flex;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: initial;
  padding: 8px 0;
  display: inline-block;
}

/*-------- HERO ---------*/

.hero {
  background-image: url(images/image.jpg);
  background-size: cover;
  background-position: center;
  padding: 16px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*-------- THINGS TO DO ---------*/

.things-to-do {
  padding: 64px 16px;
}

.things-to-do .container-intro {
  padding-bottom: 64px;
}

.things-to-do .container-intro img {
  display: none;
}

.things-to-do .container-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.things-to-do article {
  border: 2px solid black;
}

.things-to-do article img {
  width: 100%;
}

.things-to-do article div {
  padding: 16px;
}

.things-to-do article h4 {
  margin: 6px 0;
}

/*-------- WEDDINGS ---------*/

.weddings {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 64px 16px;
}

.weddings ul {
  list-style-type: none;
  padding: 0;
}

.weddings .button {
  background-color: white;
  color: black;
}

.weddings img {
  margin-bottom: 16px;
  width: 100%;
}

/*-------- FOOTER ---------*/

footer .container {
  margin: 16px;
}

footer .container-contact {
  background-color: #D8D8D8;
  padding: 16px;
}

footer .container-contact address a {
  font-style: normal;
  text-decoration: none;
  color: #4A4A4A;
  font-size: 1.6rem;
  display: block;
  padding: 8px;
}

footer h2 {
  font-size: 2rem;
  margin-top: 24px;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
}

footer nav a {
  text-decoration: none;
  padding: 8px 0;
  display: inline-block;
}

footer .copyright {
  background-color: black;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 1.4rem;
}